:root {
  --background: #ffffff;
  --foreground: #171717;
}

body.modal-open {
  overflow: hidden !important;
  padding-right: 0 !important;
}

:root {
  --inputborder: #DADBDE;
  --navitems: #ffffff;
  --active_nav_item: #CD9C40;
  --link: #0070f3;
  --primary: #CD9C40;
  --iconbg: #CD9C40;
  --iconcolor: #E1F5E9;
  --pagetitle: #CD9C40;
  --heading: #08232A;
  --subhead: #73788C;
  --mpbgclr: #F2F6F8;
  --icontitle: #1F2744;
  --icondesc: #CD9C40;
  --amenitiesbg: #08232A;
  --amenitiestitlebg: #0A2C35;
  --gallerybg: #09404D;
  --btncolor: #158A44;
  --amanitiesdataheading: #4C98AB;
}


.checking {
  border: 1px solid blue;
}

.font-seasons {
  font-family: "Cormorant", serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-nunito {
  font-family: 'Nunito Sans', sans-serif;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/public/fonts/FuturaPT-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  display: "swap",
}

ul {
  padding-left: 0 !important;
}
.top-gradient {
  /* height: 20% !important; 20% of the viewport height */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}
.swiper-amenities .swiper-pagination {
  position: relative;
  margin-top: 42px;
  display: flex;

}



.swiper-amenities .swiper-pagination-bullet {
  background: #999;
  opacity: 1;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.swiper-amenities .swiper-pagination-bullet-active {
  background: #f7c24c;
  width: 30px;
  border-radius: 10px;
}

.logoshadow {
  background: linear-gradient(to top, rgba(0, 0, 0, 01), rgba(0, 0, 0, 0.1));
}

.logodesc {
  font-size: 16px;
}

.irap {
  font-size: 24px;
  font-weight: bold;

}

.irap2 {
  font-size: 20px;
  font-weight: 100;
  color: #BDBDBD;
}

.rera {
  font-size: 16;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #158A44;
  width: 204px;
  height: 44px;
}

.checkLabel {
  font-size: 12px;
  font-weight: 200;
}

.villa_type_dv {
  font-size: 28px;
}

.villa_name_dv {
  font-size: 24px;
}

.floor_dv {
  font-size: 24px;
}

.villa_bv_dv {
  font-size: 24px;
}

.hammenu {
  top: -43px;
  right: 10px;
}

.intro_btn {
  font-size: 16px !important;
  width: 242px !important;
  height: 60px !important;
}

.introinput,  
.introinput1  {
  font-size: 14px !important;
  font-family: 'Nunito Sans', sans-serif !important;
  max-width: 366px;
  height: 50px !important;
}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.form-check-input:focus {
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 2px rgba(205, 156, 64, 0.2) !important;
}

.form-control:focus {
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 2px rgba(205, 156, 64, 0.2) !important;
}

.introinput:focus, .introinput1:focus {
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 2px rgba(205, 156, 64, 0.2) !important;
}

.form-heading {

  font-size: 36px !important;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #1F2744 !important;
  font-weight: 600;
}

.ctText {
  font-size: 24px !important;
}

.ctText2 {
  font-size: 18px;
}

.cticon {
  font-size: 18px;
  width: 51px;
  height: 51px;
  font-weight: 600;
  color: white
}

.Heading {
  color: var(--heading);
  font-size: 48px;
  font-family: "Cormorant", serif;
  line-height: 56px;
  letter-spacing: 0.5px;
}

.Title {
  color: var(--primary);
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.Navbar {
  max-width: 1200px;
  align-self: center;
  align-items: flex-start;
  width: 100%
}

.Navbar1 {
  gap: 200px;
}

Nav a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.AbTbg {
  background-color: #F8F9FE;
  width: 293px !important;
}

.introForm1{
  height: 312px;
  width:315px;
  border-top:5px solid var(--primary);
}
.CtTBg {
  width: 216px;
  background-color: #F8F9FE;
}

.intro_h {
  font-size: 64px;
}

.intro_desc {
  font-size: 24px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.introForm {
  width: 474px;
  border-top: 5px solid var(--primary);
  height: 438px;
}

.half_input {
  width: 190px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  border-style: ridge;
  border-color: 1px solid var(--inputborder);

}

.full_input {
  width: 385px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  border-style: ridge;
  border-color: 1px solid var(--inputborder);
}

.villa-specs {
  background-color: #F2F6F8;
}

.c3-tittle {
  background-color: #F8F9FE;
  width: 269px;
}

.title-container {
  height: 50px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.villa-specs-title {
  background-color: #ffffff;
  width: 210px;
}

.villacont {
  border: #DEDCDA 1px solid;
  border-radius: 20px;
}

.introFbtn {
  max-width: 366px !important;
  height: 60px;
  font-size: 16px;
}

.introdb {
  font-size: 16px;
  max-width: 243px !important;
  height: 58px;
  font-size: 16px;
  bottom: -46px;
  left :36px;
  font-family: 'Nunito Sans', sans-serif !important;
}

@media (max-width: 576px) {
  .introForm {
    padding: 1.5rem !important;
  }
}

.villaicon {
  width: 61px;
  height: 61px;
}

.Villaimg {
  width: 519px;
  height: 767px;
}

.villadesc {
  color: var(--subhead);
  font-size: 24px;
}

.villaspecshead {
  color: var(--icontitle);
  font-size: 26px;
}

.villaspecdetail {
  color: var(--icondesc);
  font-size: 26px;
}

.c3-p {
  font-size: 24px;
  color: var(--subhead);
  font-family: 'Nunito Sans', sans-serif;

}


.GalleryTitle {
  color: var(--primary);
  font-size: 48px;
  font-family: "Cormorant", serif;
}

.Gallery {
  z-index: 10;
}

.smartliving_p {
  color: var(--subhead);
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
}

.smartliving_icon_container {
  width: 334px;
  height: 75px;
}

.smartliving_icon {
  background-color: var(--iconbg);
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.smartliving_icon_name {
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
}

.mpbroucherbtn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--btncolor);
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mp {
  padding: 2rem;
}


.floorplanssheading {
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
}

.AmanitiesImage {
  max-width: 546px;
}

.Amanities_title {
  width: 252px;
  height: 50px;
  background-color: var(--amenitiestitlebg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.AHeading {
  color: var(--primary);
  font-size: 48px;
  font-family: "Cormorant", serif;
}

.Adataheading {
  color: var(--amanitiesdataheading);
  font-size: 40px;
  font-family: 'Nunito Sans', sans-serif;
}

.Adata {
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 15px !important;
}

.c8mvheading {
  color: var(--heading);
  font-size: 24px;
  font-family: "Cormorant", serif;
}

.c8mvsubh {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}

.c8mvfpbutton {
  width: 151px;
  height: 37px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: var(--primary);
  background-color: white;
  border-radius: 5px;
  border: none;
}

.fpdata {

  font-family: "Poppins", sans-serif;
}

.villatype {
  font-size: 18px;
}

.villaname {
  font-size: 14px;
}

.datadiv {
  height: 100px
}

.floorname {
  font-size: 14px;
}

.builtuparea {
  font-size: 14px;
}

.LaHbg {
  background-color: #F8F9FE;
  width: 229px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.la_li {
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 59px;
}

.la_btn {
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
  background-color: var(--btncolor) !important;
  color: #ffffff !important;
  border: none !important;
  width: 300px !important;
  height: 60px !important;
  border-radius: 10px !important;
}

.ctbox {
  width: 376px;
  height: 304px
}

.contactus_title {
  color: var(--primary);
  font-size: 48px;
  font-family: "Cormorant", serif;
}

.contactus_sh {
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
}

.contactus_input {
  height: 50px !important;
}

.contactus_input::placeholder {
  color: #bdbdbd !important;
}

.contactus_s_btn {
  width: 100%;
  height: 51px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
  BORDER: none
}

.contactus_fp_btn {
  width: 100%;
  height: 51px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: 1px solid white;
  color: white;
  background-color: var(--amenitiesbg);
}

.aboutdata {
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
}

.aboutdataheading {
  font-size: 32px !important;
  font-weight: bold !important;
  font-family: 'Nunito Sans', sans-serif;
}

html,

body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

}

p {
  margin-bottom: 0rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width:1199px) {
  .form-heading {

    font-size: 19px !important;
  }
  .introinput1 {
    height: 33px !important;
  }
}


@media (max-width:1400px) {
  .introForm1{
  height: 292px;
  width:295px;
}
.introdb {
  left :26px
}
  .aboutdata {
    font-size: 18px;
  }

  .aboutdataheading {
    font-size: 24px !important;
  }

  .Navbar {
    max-width: 1000px;
  }

  .intro_h {
    font-size: 50px;
  }

  .intro_desc {
    font-size: 18px;
  }

  .Heading {
    font-size: 36px;
    line-height: 50px;
  }

  .Title {
    font-size: 18px;
  }

  .villadesc {
    color: var(--subhead);
    font-size: 18px;
  }

  .villaicon {
    width: 50px;
    height: 50px;
  }

  .villaspecshead {
    font-size: 20px;
  }

  .villaspecdetail {
    font-size: 20px;
  }

  .la_li {
    font-size: 18px;
    line-height: 48px;
  }

  .Amanities_title {
    width: 200px;
    height: 40px;
    font-size: 16px;
  }

  .AHeading {
    font-size: 40px;
  }

  .Adata {
    font-size: 18px;
  }

  .Adataheading {
    font-size: 30px;
  }

  .smartliving_icon {
    width: 65px;
    height: 65px;
    border-radius: 10px;
  }

  .smartliving_icon_name {
    font-size: 18px;
  }


  .irap {
    font-size: 20px;

  }

  .irap2 {
    font-size: 18px;
  }
}

@media (max-width:1199px) {
  
  .introForm1{
  height: 198px;
  width:275px;
}
.introdb {
  max-width: 182px !important;
  height: 45px;
  left :46px;
  bottom : -36px 
}
  .villa_type_dv {
    font-size: 20px;
  }

  .villa_name_dv {
    font-size: 16px;
  }

  .floor_dv {
    font-size: 16px;
  }

  .villa_bv_dv {
    font-size: 16px;
  }

  .Navbar {
    max-width: 885px;
  }

  .la_li {
    font-size: 16px;
    line-height: 36px;
  }

  .villaicon {
    width: 40px;
    height: 40px;
  }

  .villaspecshead {
    font-size: 12px;
  }

  .villaspecdetail {
    font-size: 12px;
  }

  .irap {
    font-size: 18px;

  }

  .irap2 {
    font-size: 16px;
  }
}

@media (max-width:1024px) {
  .Navbar {
    max-width: 880px;

  }

  .Heading {
    font-size: 36px;
    line-height: 45px;
  }

  .Title {
    font-size: 18px;
  }

  .intro_h {
    font-size: 48px;
  }

  .intro_btn {
    font-size: 12px !important;
    width: 200px !important;
    height: 40px !important;
  }

  .introForm {
    width: 370px;
    height: 370px;
  }

  .introinput {
    height: 40px !important;
  }
 

  .half_input {
    width: 133px;
    height: 33.45px;

  }

  .full_input {
    width: 272.93px;
    height: 33.45px;
  }

  .introFbtn {
    width: 272.93px;
    height: 40px;
    font-size: 10px !important;
  }

  .Villaimg {
    width: 389px;
    height: 575px;
  }

  .villaicon {
    width: 40px;
    height: 40px;
  }

  .villaspecshead {
    font-size: 12px;
  }

  .villaspecdetail {
    font-size: 12px;
  }

  .Amanities_title {

    border-radius: 5px;
    width: 113px;
    height: 23px;
    font-size: 8px;
  }

  .AHeading {
    font-size: 24px;
  }

  .Adataheading {
    font-size: 18px;
  }

  .Adata {
    font-size: 14px;
  }

  .datadiv {
    height: 100px
  }

  .aboutdata {
    font-size: 16px;
  }

  .c3-p {
    font-size: 18px;

  }

  .contactus_title {
    font-size: 24px;
  }

  .contactus_sh {
    font-size: 14px !important;
  }
}

@media (max-width:991px) {
  .rera {
  font-size: 9;
  
  width: 125px;
  height: 30px;
}
  .form-box {
      height: 418px;
      align-items: center;
  }
  /* .image-box{
    align-items: center;
  } */
   .logodesc {
  font-size: 9px;
}
  .irap {
    font-size: 14px;
    margin-bottom: 5 !important;

  }

  .irap2 {
    font-size: 12px;
    margin-bottom: 5 !important;
  }

  .AmanitiesImage {
    max-width: 346px;
  }

  .intro_desc {
    font-size: 16px;
  }

  .Heading {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.26px;
  }

  .la_btn {
    font-size: 10px !important;
    width: 150px !important;
    height: 30px !important;
    border-radius: 5px !important;
  }

  .la_li {
    font-size: 12px;
    line-height: 20px;
  }

  .smartliving_icon {

    width: 55px;
    height: 55px;
    border-radius: 10px;
  }

  .smartliving_icon_name {
    font-size: 14px;
  }

  .smartliving_p {
    font-size: 16px;
  }

  .ctText {
    font-size: 10px !important;
  }

  .ctText2 {
    font-size: 8px;
  }

  .cticon {
    font-size: 9px;
    width: 25.5px;
    height: 25.5px;
    font-weight: 600;
    color: white
  }

  .checkboX {
    width: 12px !important;
    height: 12px !important;
  }
}

@media (max-width:768px) {
  .vslistcontainer {
    max-width: 145px;
  }

  .irap {
    font-size: 12px;
    margin-bottom: 5 !important;
  }

  .irap2 {
    font-size: 10px;
    margin-bottom: 5 !important;
  }

  .vslistmaincontainer {
    max-width: 294px;
    align-self: center;
  }

  .contactus_input {
    height: 35px !important;
    font-size: 12px !important;
    border-radius: 5px !important;
  }

  .Heading {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.26px;
  }

  .Title {
    font-size: 8px;
  }

  .form-heading {

    font-size: 19px !important;
    font-family: 'Nunito Sans', sans-serif !important;
  }

  .introinput {
    font-size: 10px !important;
    height: 30px !important;
  }

  .villa-specs-title {
    width: 95px;
  }

  .c3-tittle {
    width: 120.8px;
  }

  .CtTBg {
    width: 106.66px;
  }

  .AbTbg {
    width: 161.25px !important;
  }

  .title-container {
    height: 23px;
    border-radius: 2px;
  }

  .intro_h {
    font-size: 36px;
  }

  .introForm {
    width: 317px;
    height: 293px;
  }

  .half_input {
    width: 133px;
    height: 33.45px;

  }

  .full_input {
    width: 272.93px;
    height: 33.45px;
  }

  .introFbtn {
    width: 272.93px;
    height: 40px
  }

  .c3-p {
    font-size: 14px;
  }

  .GalleryTitle {
    color: white;
    font-size: 24px;
  }

  .villacont {
    border-radius: 10px;
  }

  .mpbroucherbtn {
    font-size: 10px;
    width: 150px;
    height: 30px;
    border-radius: 5px;

  }

  .smartliving_p {
    font-size: 14px;
  }

  .smartliving_icon {
    width: 37.5px;
    height: 37.5px;
    border-radius: 10px;
  }

  .smartliving_icon_name {
    font-size: 12px;
  }

  .Amanities_title {

    border-radius: 5px;
    width: 113px;
    height: 23px;
    font-size: 8px;
  }

  .AHeading {
    font-size: 24px;
  }

  .Adataheading {
    font-size: 18px;
  }

  .Adata {
    font-size: 14px;
  }

  .datadiv {
    height: 100px
  }

  .villaicon {
    width: 24.65px;
    height: 24.65px;
  }

  .villaspecshead,
  .villaspecdetail {
    font-size: 10px;
  }

  .LaHbg {
    width: 103px;
    height: 23px;
    border-radius: 5px;
  }



  .villatype {
    font-size: 14px;
  }

  .villaname {
    font-size: 10px;
  }

  .floorname {
    font-size: 10px;
    font-weight: 200;
  }

  .builtuparea {
    font-size: 10px;
  }



  .contactus_title {
    font-size: 24px;
  }

  .contactus_sh {
    font-size: 14px !important;
  }

  .checkLabel {
    font-size: 8px;
  }

  .aboutdata {
    font-size: 14px;
  }

  .aboutdataheading {
    font-size: 18px !important;
  }

  .la_btn {
    font-size: 10px !important;
    width: 150px !important;
    height: 30px !important;
    border-radius: 5px !important;
  }

  .ctbox {
    width: 150px;
    height: 130px
  }

  .ctText {
    font-size: 10px !important;
  }

  .ctText2 {
    font-size: 8px;
  }

  .cticon {
    font-size: 9px;
    width: 25.5px;
    height: 25.5px;
    font-weight: 600;
    color: white
  }
  .introdb {
  font-size: 12px !important;
}
}

@media (max-width:576px) {
  .swam {
    width: 300px
  }
}

@media (max-width:450px) {
  .intro_h {
    font-size: 28px;
  }

  .Villaimg {
    width: 300px;
    height: 443px;
  }

  .contactus_fp_btn,
  .contactus_s_btn {
    height: 25px;
    border-radius: 5px;
    font-size: 10px;
  }

  .ctbox {
    width: 150px;
    height: 130px
  }
}



@media (max-width: 768px) {

  .contactus_s_btn,
  .contactus_fp_btn {
    height: 45px;
    font-size: 10px;
  }
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding-right: 2.5rem;
  /* space for the icon */
}

/* Calendar icon styling */
.calendar-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
  z-index: 2;
}

.ftrbold {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.ftrsemibold {
  font-size: 9px;
  font-family: "Poppins", sans-serif;
  color: white
}

.ftrnormal {
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
}

.ftrcontact {
  border-left: 1px solid white;
}