/* [project]/src/styles/globals.css [client] (css) */
:root {
  --background: #fff;
  --foreground: #171717;
  --inputborder: #dadbde;
  --navitems: #fff;
  --active_nav_item: #cd9c40;
  --link: #0070f3;
  --primary: #cd9c40;
  --iconbg: #cd9c40;
  --iconcolor: #e1f5e9;
  --pagetitle: #cd9c40;
  --heading: #08232a;
  --subhead: #73788c;
  --mpbgclr: #f2f6f8;
  --icontitle: #1f2744;
  --icondesc: #cd9c40;
  --amenitiesbg: #08232a;
  --amenitiestitlebg: #0a2c35;
  --gallerybg: #09404d;
  --btncolor: #158a44;
  --amanitiesdataheading: #4c98ab;
}

@font-face {
  font-family: Seasons;
  src: url("/fonts/Season.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-seasons {
  font-family: The Seasons;
}

@font-face {
  font-family: Futura PT;
  src: url("/public/fonts/FuturaPT-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.Heading {
  color: var(--heading);
  font-family: The Seasons;
  font-size: 48px;
}

.Title {
  color: var(--primary);
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
}

.Navbar {
  gap: 200px;
  margin-left: 130px;
}

Nav a {
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.intro_h {
  font-size: 64px;
}

.introForm {
  border-top: 5px solid var(--primary);
  width: 474px;
  height: 438px;
}

.half_input {
  border-style: ridge;
  border-color: 1px solid var(--inputborder);
  border-radius: 5px;
  width: 190px;
  height: 40px;
  padding: 5px;
}

.full_input {
  border-style: ridge;
  border-color: 1px solid var(--inputborder);
  border-radius: 5px;
  width: 385px;
  height: 40px;
  padding: 5px;
}

.introFbtn {
  width: 385px;
  height: 60px;
}

@media (width <= 576px) {
  .introForm {
    padding: 1.5rem !important;
  }
}

.villaicon {
  width: 61px;
  height: 61px;
}

.Villaimg {
  width: 519px;
  height: 767px;
}

.villadesc {
  color: var(--subhead);
  font-size: 24px;
}

.villaspecshead {
  color: var(--icontitle);
  font-size: 26px;
}

.villaspecdetail {
  color: var(--icondesc);
  font-size: 26px;
}

.GalleryTitle {
  color: var(--primary);
  font-family: The Seasons;
  font-size: 48px;
}

.Gallery {
  z-index: 10;
}

.smartliving_p {
  color: var(--subhead);
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
}

.smartliving_icon_container {
  width: 334px;
  height: 75px;
}

.smartliving_icon {
  background-color: var(--iconbg);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  display: flex;
}

.smartliving_icon_name {
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
}

.mpbroucherbtn {
  color: #fff;
  background-color: var(--btncolor);
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  margin-bottom: 60px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.mp {
  padding: 2rem;
}

.floorplanssheading {
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
}

.Amanities_title {
  background-color: var(--amenitiestitlebg);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 50px;
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  display: flex;
}

.AHeading {
  color: var(--primary);
  font-family: The Seasons;
  font-size: 48px;
}

.Adataheading {
  color: var(--amanitiesdataheading);
  font-family: Nunito Sans, sans-serif;
  font-size: 40px;
}

.Adata {
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
}

.c8mvheading {
  color: var(--heading);
  font-family: The Seasons;
  font-size: 24px;
}

.c8mvsubh {
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
}

.c8mvfpbutton {
  width: 151px;
  height: 37px;
  color: var(--primary);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
  font-size: 10px;
}

.fpdata {
  font-family: Poppins, sans-serif;
}

.LaHbg {
  background-color: #f8f9fe;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 229px;
  height: 50px;
  display: flex;
}

.la_li {
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
}

.ctbox {
  width: 376px;
  height: 304px;
}

.contactus_title {
  color: var(--primary);
  font-family: The Seasons;
  font-size: 48px;
}

.contactus_sh {
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
}

.contactus_s_btn {
  background-color: var(--primary);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 60px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  display: flex;
}

.contactus_fp_btn {
  background-color: var(--amenitiesbg);
  border: 1px solid #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 60px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  display: flex;
}

.aboutdata {
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
}

.aboutdataheading {
  font-family: Nunito Sans, sans-serif;
  font-size: 30px;
}

html, body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin-bottom: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (width <= 1024px) {
  .intro_h {
    font-size: 48px;
  }

  .introForm {
    width: 370px;
    height: 370px;
  }

  .half_input {
    width: 133px;
    height: 33.45px;
  }

  .full_input {
    width: 272.93px;
    height: 33.45px;
  }

  .introFbtn {
    width: 272.93px;
    height: 40px;
  }

  .Villaimg {
    width: 389px;
    height: 575px;
  }

  .villaicon {
    width: 45px;
    height: 45px;
  }

  .villaspecshead, .villaspecdetail {
    font-size: 18px;
  }

  .AHeading {
    font-size: 38px;
  }

  .Adataheading {
    font-size: 30px;
  }

  .Adata {
    font-size: 20px;
  }

  .datadiv {
    height: 100px;
  }
}

@media (width <= 768px) {
  .Heading {
    font-size: 24px;
  }

  .Title {
    font-size: 8px;
  }

  .intro_h {
    font-size: 36px;
  }

  .introForm {
    width: 317px;
    height: 293px;
  }

  .half_input {
    width: 133px;
    height: 33.45px;
  }

  .full_input {
    width: 272.93px;
    height: 33.45px;
  }

  .introFbtn {
    width: 272.93px;
    height: 40px;
  }

  .GalleryTitle {
    color: #fff;
    font-size: 24px;
  }

  .mpbroucherbtn {
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 10px;
  }

  .smartliving_p {
    font-size: 14px;
  }

  .smartliving_icon {
    border-radius: 10px;
    width: 37.5px;
    height: 37.5px;
  }

  .smartliving_icon_name {
    font-size: 12px;
  }

  .Amanities_title {
    border-radius: 5px;
    width: 113px;
    height: 23px;
    font-size: 8px;
  }

  .AHeading {
    font-size: 24px;
  }

  .Adataheading {
    font-size: 18px;
  }

  .Adata {
    font-size: 14px;
  }

  .datadiv {
    height: 100px;
  }

  .villaicon {
    width: 24.65px;
    height: 24.65px;
  }

  .villaspecshead, .villaspecdetail {
    font-size: 10px;
  }

  .LaHbg {
    border-radius: 5px;
    width: 103px;
    height: 23px;
  }

  .la_li {
    font-size: 12px;
  }

  .ctbox {
    width: 150px;
    height: 120px;
  }

  .contactus_title {
    font-size: 24px;
  }

  .contactus_sh, .aboutdata {
    font-size: 14px;
  }

  .aboutdataheading {
    font-size: 18px;
  }
}

@media (width <= 450px) {
  .intro_h {
    font-size: 28px;
  }

  .Villaimg {
    width: 300px;
    height: 443px;
  }
}

/*# sourceMappingURL=src_styles_globals_css_2bef753f._.single.css.map*/